<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.galaxycard.android.truecaller">
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS"/>
    <uses-permission android:name="android.permission.CALL_PHONE" android:maxSdkVersion="25"/>
</manifest>
